<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Table1</key>
	<dict>
		<key>Name</key>
		<string>Test</string>
		<key>Class</key>
		<string>TestModel</string>
		<key>Properties</key>
		<array>
			<string>id</string>
			<string>name</string>
		</array>
	</dict>
</dict>
</plist>
